@import "_normalize.scss";
@for $i from 1 through 12 {
 
    .col-md-#{$i} { 
     	width: 100% / 12 * $i;
    }
 
}

.container {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	.drag-zone{
		min-height: 300px;
		.btn{
			display: inline-block;
			text-align: center;
			border: 1px solid #ccc;
			margin: 0 5px 5px 0;
			font-size: 1rem;
			border-radius: .25rem;
			transition: all .5s ease-in-out;
			padding:  5px 15px;
			box-shadow: 1px 1px 5px #ccc;
			&:hover{
				background-color: #c9c9c9;
			}
		.default{
			color: #292b2c;
			background-color: #fff;
		}
		}
	}

	.drop-zone{
		min-height: 500px;
		&:hover{
			border:2px dashed #555;
		}
	}
}
[class*='col-'] {
    float: left;
    }   